*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: white;
    --light-grey: #F7F7F7;
    --grey: #E7E7E7;
    --light-color1: #0068B5;
    --light-color1_transperent: #0067b5d4;
    --light-color2: #7BDEFF;
    --dark-color1: #004a86;
    --black: #262626;

    --primary-fonts: sans-serif;
}

body{
    font-family: var(--primary-fonts);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.site-link{
    color: var(--white);
    border-bottom: dotted var(--white) 2px;
    padding-bottom: 3px;
}
.site-link:hover{
    border-bottom: solid var(--white) 2px;
}
.site-title{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--white);
    line-height: 1.3em;
}
.site-btn{
    background-color: var(--white);
    color: var(--light-color1);
    font-size: 1.1rem;
    padding: 0.6rem 1.5rem;
}
.site-btn:hover{
    background-color: var(--grey);
}
section{
    padding: 2rem 10vw;
}

/* ------------------------------------ navbar ------------------------------------ */
nav{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-color1);
    background-color: var(--white);
}
.nav-left{
    display: flex;
    gap: 2.5rem;
}
.nav-logo-box{
    background-color: var(--light-color1);
    padding: 1.5rem 10px 0;
}
.nav-logo{
    height: 1.5rem;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.nav-link{
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--light-color1);
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--light-color1);
}
.language span{
    text-transform: uppercase;
}
nav i{
    cursor: pointer;
}
.nav-search{
    height: 100%;
    position: relative;
}
.nav-search input{
    height: 100%;
    padding-left: 40px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color: var(--light-grey);
}
.search-icon{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: var(--light-color1);
    cursor: pointer;
}

/* ------------------------------------ Section 1 ------------------------------------ */
#section-1{
    height: 500px;
    background-image: url("/images/1.png");
    background-size: 100vw;
    background-position-y: -150px;
    position: relative;
    padding: 0;
}

.big-box{
    border-right: solid var(--white);
    border-bottom: solid var(--white);
    width: 500px;
    height: 400px;
    background-color: var(--light-color1_transperent);
    color: var(--white);
    padding-top: 200px;

    box-shadow: 0px 0px 15px 0px white;
}
.big-box .text-container{
    width: 82%;
    margin: auto;
    /* border: red solid; */
}

.big-box p{
    margin: 1rem 0;
}
.arrow-icon{
    color: var(--white);
}
.site-link-box:hover .site-link{
    border-bottom: solid var(--white) 2px;
}
.small-box{
    border: solid var(--white) 3px;
    background-color: var(--light-color2);
    width: 45px;
    height: 45px;
    position: absolute;
    left: 498px;
    top: 398px;
    box-shadow: 0px 0px 15px 0px white;
}



/* ------------------------------------ Section 3 ------------------------------------ */
#section-3{
    background-color: black;
    display: flex;
    position: relative;
    padding: 0;
}
.actions{
    overflow: hidden;
    position: relative;
}
#section-3 img{
    width: 100%;
    opacity: 0.5;
    transition: 0.3s;
}
#section-3 .actions:hover img{
    transform: scale(1.1);
    opacity: 0.4;
}
.actions-content{
    position: absolute;
    width: 25%;
    text-align: center;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.second-action-content{
    left: 75%;
}
.actions-content .site-title{
    margin-bottom: 3rem;
}


/* ------------------------------------ Section 4 ------------------------------------ */
#section-4{
    background-color: var(--black);
    color: var(--white);
    padding-top: 5rem;
}
.search-bar{
    display: flex;
    justify-content: space-between;
}
.search-category, .search-sort-content{
    display: flex;
    gap: 1rem;
    align-items: center;
}
#section-4 input, #section-4 select{
    padding: 0.5rem 10px;
    border-radius: 5px;
}
.search-input-box{
    position: relative;
}
#section-4 input{
    padding-left: 40px;
}

.card-container{
    display: flex;
    gap: 1rem;
}

.